<!-- jumbotron -->
	<div class="jumbotron">
		<div class="container text-center">
			<h1> Consultancy, product development and training </h1>
			<p>We provide web solutions and more...</p>

			<div class="btn-group">
				<a href="" class="btn btn-lg btn-warning">check our products</a>
				<a href="" class="btn btn-lg btn-default">read our blog</a>
				<a href="" class="btn btn-lg btn-warning">support our public projects</a>
			</div>

		</div>
	</div>
	<div class="container">
		<section>
			<div class="page-header" id="feedback">
				<h2>Home. <small>We would like to wish you a warm welcome on our website </small> </h2>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<blockquote>
						<p>We offer the following services: </p>
						<ul>
							<li>Consultancy on web development, testing and deployment </li>
							<li>Product development </li>
							<li>Training on a variety of technologies</li>
							<li>Software as a service for a variety of applications </li>
							<li>Technology research and publishing including blogging </li>

						</ul>

					</blockquote>
				</div>

				<div class="col-lg-6">
					<blockquote>
						<h3> Contacts </h3>
<p>Dr Mazembo Mavungu Eddy <br>
Twitter: @mazembo <br>
Email: dielainfos@gmail.com<br>
Web: http://www.dielais.com </p>
					</blockquote>
				</div>

			</div><!--End Row -->
		</section>
	</div><!--End Container -->
