<!-- jumbotron -->
	<div class="jumbotron">
		<div class="container text-center">
			<h1> Migration et Développement</h1>
			<p>Regarder la migration non pas comme un problème, mais comme un atout.</p>
			
			<div class="btn-group">
				<a href="" class="btn btn-lg btn-warning">Faire un don</a>
				<a href="" class="btn btn-lg btn-default">Signer notre petition</a>
				<a href="" class="btn btn-lg btn-warning">Soutenir nos projets</a>
			</div>
			<p>Ce site est encore en construction!!!</p>
		</div>
	</div>
	<div class="container">
		<section>
			<div class="page-header" id="feedback">
				<h2>Accueil. <small> Bienvenu sur le site de Jetmmed </small> </h2>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<blockquote>
						<p>Juristes et théologiens Mobils – Migrations et Développement (JeTM-MED) est une Association Indépendante Sans But Lucratif en vertu des articles 60ss du Code civil suisse (CC) qui, grâce à son expertise et sa connaissance dans le domaine migratoire et la non-discrimination, offre une assistance aux migrants sous forme des conseils et de consultation juridique.</p>

<p>Consciente des défis que lance au monde l’épineuse et complexe question de migration, JeTM-MED offre ses services aux migrants dans la région française d’Alsace depuis 2007. En effet, l'association a pour objectif de défendre les droits des migrants, de les encadrer dans leur effort d’intégration et de participer au débat d’idées sur les politiques migratoires. Ainsi, nous avons à notre actif défendu et gagné plusieurs centaines des cas devant les instances administratives (Conseil général du Haut-Rhin, Préfecture du Haut-Rhin, Office français de protection des réfugiés et apatrides (OFPRA), Cour nationale du droit d’asile (CNDA) et judiciaires (Tribunaux d’instance et de grande instance de Colmar et de Mulhouse, Tribunal administratif de Strasbourg, Cour d’appel de Nancy  et Cour de cassation, Cour européenne des droits de l’homme (Cour EDH) et Cour de justice de l’Union européenne (CJUE) françaises et européenne.</p> 

<p>Notre expertise en la matière et notre probité morale font de nous éminemment une structure crédible et appropriée pour les migrants.</p>

<p>Par ailleurs, ces cinq dernières années, le Président de JeTM-MED, a travaillé dans le Mouvement jurassien des Sans-Papiers (2 ans comme bénévole) et auprès du Secteur juridique pour migrants au sein de Caritas Jura (3 ans comme juriste). Il a ainsi apporté son expertise aux requérants d’asile accueillis et aux sans-papiers dans le canton de Jura.</p>

<p>Forte de cette expérience, aujourd’hui plus que jamais, JeTM-MED renforce cet engagement envers les migrants accueillis dans le Jura en leur offrant un service juridique professionnel de qualité en matière du droit d’asile, du droit des étrangers et des principes juridiques de non-discrimination. C’est ainsi qu’une antenne de notre Association est installée dans le canton de Jura et sera opérationnelle à partir du 1er Février 2015 (mardi 3 février pour une première permanence).</p>

					</blockquote>
				</div>
			
				<div class="col-lg-6">
					<blockquote>
						<h3> Contacts </h3> 
<p>Dr Ange SANKIEME LUSANGA <br>
Tél : +41 767 41151<br>
Email: ange.sankieme@gmx.ch<br>
Site web: http://www.jetmmed.org </p>
<p>Ange Sankieme Lusanga est docteur en droit (licencié de l’Université de Neuchâtel en 2000 et docteur de l’Université de Berne en 2014) et docteur en théologie-éthique (licencié de l’Université de Fribourg en 2006 et docteur de l’Université de Bâle en 2011). Il est spécialiste du droit et de l'éthique des migrations et de la non-discrimination, avec une expérience très approfondie en droit d’asile, d'immigration, de la nationalité et de la lutte contre les discriminations et le racisme.</p>

<h3>Coûts de la consultation</h3> 

<p>En attente d’une subvention qui devra couvrir le fonctionnement du Bureau de Consultation, le requérant payera un montant forfaitaire selon ses possibilités pour permettre de couvrir les frais fixes de fonctionnement. Le service sera totalement gratuit dès que la subvention sollicitée sera accordée. Tout don est le bienvenu, pour tout renseignement et/ou toute assistance, merci de vous adresser à la trésorière de JeTM-MeD sur les contacts ci-dessous :</p>
<p>Noëmi GUTZWILLER, tel. 076 2339558<br>	
Compte JETEM:MED    PC  14-043582-7<br>
IBAN CH780900 0000 14043582 7<br>
Personne de contact auprès de la poste :<br>
Conchita Bartucz et team.</p>
					</blockquote>
				</div>
							
			</div><!--End Row -->
		</section>
	</div><!--End Container -->