<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="le site internet de diela information systems - dielais">
<meta name="keywords" content="dielais, application development, information systems, product development, consultancy">
<meta name="author" content="Mazembo Mavungu Eddy ">
  <title>Diela Information Systems -dielais</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body data-spy="scroll" data-target="#my-navbar">
<!--Navbar -->
	<nav class="navbar navbar-inverse navbar-fixed-top" id="my-navbar">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>


				</button>
				<a href="" class="navbar-brand">Dielais</a>
			</div> <!-- End Navbar Header -->
			<div class="collapse navbar-collapse" id="navbar-collapse">
			<a href="" class="btn btn-warning navbar-btn navbar-right">Check our products</a>
				<ul class="nav navbar-nav">
					<li><a href="#feedback">Home</a>
					<li><a href="#gallery">About us</a>
					<li><a href="#features">Our blog </a>
					<li><a href="#faq">Products</a>
					<li><a href="#faq">Consultancy</a>
					<li><a href="#contact">Get in touch</a>
				</ul>

			</div>
		</div> <!-- End Container -->
	</nav> <!--End Navbar -->

<%= yield %>

</body>
</html>
