<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="le site internet du jetmmed">
<meta name="keywords" content="immigration, refugies, Suisse">
<meta name="author" content="Ange Sangieme, Mazembo Mavungu Eddy ">
  <title>Jetmmed</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body data-spy="scroll" data-target="#my-navbar">
<!--Navbar -->
	<nav class="navbar navbar-inverse navbar-fixed-top" id="my-navbar">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
                   					
					
				</button>
				<a href="" class="navbar-brand">Jetmmed</a>
			</div> <!-- End Navbar Header -->
			<div class="collapse navbar-collapse" id="navbar-collapse">
			<a href="" class="btn btn-warning navbar-btn navbar-right">Faites un don</a>
				<ul class="nav navbar-nav">
					<li><a href="#feedback">Accueil</a>
					<li><a href="#gallery">Ce que nous sommes</a>
					<li><a href="#features">Notre Blog</a>
					<li><a href="#faq">Droits des migrants</a>
					<li><a href="#faq">Faq</a>
					<li><a href="#contact">Contactez-nous</a>
				</ul>
				
			</div>
		</div> <!-- End Container --> 
	</nav> <!--End Navbar -->

<%= yield %>

</body>
</html>
